:root {
  --ff-poppins: "Poppins";

  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-blue: hsl(248, 32%, 49%);
  --clr-darkBlue: hsl(249, 10%, 26%);
  --clr-grayishBlue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/bg-intro-desktop.png), var(--clr-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  width: min(1000px, 80%);
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#text-box,
#submit-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(450px, 100%);
  padding: 30px;
}

#text-box > h1 {
  font-family: var(--ff-poppins);
  color: aliceblue;
  margin-bottom: 15px;
}

#text-box > p {
  font-family: var(--ff-poppins);
  font-size: 16px;
  font-weight: 400;
  color: aliceblue;
}

.header {
  background-color: var(--clr-blue);
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 1px 8px 10px rgba(94, 94, 94, 0.5);
  margin-bottom: 20px;
  width: min(450px, 90%);
}

.header > p {
  font-family: var(--ff-poppins);
  font-size: 14px;
  color: aliceblue;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: min(450px, 90%);
  padding: 30px;
  padding-top: 10px;
  border-radius: 10px;
}

input {
  font-family: var(--ff-poppins);
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--clr-grayishBlue);
  margin-top: 20px;
}

input + p {
  font-family: var(--ff-poppins);
  font-size: 10px;
  font-weight: 500;
  align-self: flex-end;
  color: var(--clr-red);
  margin-top: 10px;
  display: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--clr-blue);
}

.error {
  background-image: url(images/icon-error.svg);
  background-position: 355px;
  background-repeat: no-repeat;
  color: var(--clr-red);
  border: 1px solid var(--clr-red);
}

.error:focus {
  box-shadow: 0 0 0 1.5px var(--clr-red);
}

#btn {
  font-family: var(--ff-poppins);
  color: aliceblue;
  font-weight: 700;
  background-color: var(--clr-green);
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#btn:hover {
  cursor: pointer;
}

#btn + p {
  font-family: var(--ff-poppins);
  font-size: 10px;
  color: var(--clr-grayishBlue);
  text-align: center;
}

#btn + p > strong {
  color: var(--clr-red);
}

footer {
  margin-top: 40px;
}

@media (max-width: 780px) {
  #container {
    flex-direction: column;
  }

  #text-box {
    text-align: center;
  }

  #text-box > h1 {
    font-size: 130%;
  }

  #text-box > p {
    font-size: 80%;
  }
}
